.header__middle-catalog {
  display: flex;
  align-items: center;
  padding: 14px 20.5px 9px;
  min-width: 195px;
  margin-right: 14px;
  background-color: #4789eb;
  border: none;
  border-radius: 1000px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.header__middle-catalog:hover {
  filter: brightness(110%);
}
